In [88]:
import numpy as np
import pandas as pd
from datetime import datetime

In [89]:
rides_df = pd.read_csv('cab_rides.csv')
weather_df = pd.read_csv('weather.csv')

### Merging the two csv-files

In [90]:
# Converting the timestamp data into real date format
rides_df['date_time'] = pd.to_datetime(rides_df['time_stamp']/1000, unit='s')
weather_df['date_time'] = pd.to_datetime(weather_df['time_stamp'], unit='s')

In [91]:
# Merge the datasets to reflect the same time for a location, date and hour
rides_df['merged_date'] = rides_df.source.astype(str) +" - "+ rides_df.date_time.dt.date.astype("str") + " - "+ rides_df.date_time.dt.hour.astype("str")
weather_df['merged_date'] = weather_df.location.astype(str) +" - "+ weather_df.date_time.dt.date.astype("str") + " - "+ weather_df.date_time.dt.hour.astype("str")

In [92]:
# df_rides['date'].dt.strftime('%m').head() <-- Really don't know what this done or why it is necessary
# that is why it is commented. Maybe figure it out?
# Weather_df.index = Weather_df['merged_date']

In [93]:
merged_df = pd.merge(rides_df, weather_df, on=['merged_date'])

# Merge from Kaggle, but i used the one above becuase it seems more intuitive 
#merged_df = UberLyft_df.join(Weather_df, on = ['merged_date'], rsuffix ='_w')

In [94]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1265675 entries, 0 to 1265674
Data columns (total 21 columns):
distance            1265675 non-null float64
cab_type            1265675 non-null object
time_stamp_x        1265675 non-null int64
destination         1265675 non-null object
source              1265675 non-null object
price               1164996 non-null float64
surge_multiplier    1265675 non-null float64
id                  1265675 non-null object
product_id          1265675 non-null object
name                1265675 non-null object
date_time_x         1265675 non-null datetime64[ns]
merged_date         1265675 non-null object
temp                1265675 non-null float64
location            1265675 non-null object
clouds              1265675 non-null float64
pressure            1265675 non-null float64
rain                206947 non-null float64
time_stamp_y        1265675 non-null int64
humidity            1265675 non-null float64
wind                1265675 non-null float64
date_time_y         1265675 non-null datetime64[ns]
dtypes: datetime64[ns](2), float64(9), int64(2), object(8)
memory usage: 212.4+ MB

As we can see the merged dataframe consists of 1.265.675 entries while the original dataset had 693.071 entries this is because the weather data has been recorded more than one time for the same hour, and since we merge by hour (since the rides and weather do not have the exact same timestamp), then we end up with rides having different weather attributes adn therefore more the one row of ride than one. This can be seen in the following since each id can occur multiple times.

### Showing an fixing the merge issue explained above

In [95]:
# Count of how many instances there is of each trip
merged_df['id'].value_counts()

beb3a733-1c3a-4ffb-bef1-d958d369b6e6    15
d322a910-138e-45d9-8c11-d5e23667d124    15
da6ce913-13ac-48db-aff6-9699bd7173ed    15
098db1b0-446a-4377-ab17-bfffc6d78936    15
49e16960-e54c-43fd-973a-b6f82ce9c7f0    15
                                        ..
7040cf4d-2c8a-4866-b04f-89fa52e269b5     1
627b85c7-0acc-4f1d-b0c6-835a56be0fb3     1
0f174034-7bea-4440-bf33-d3d441fbf03e     1
7754a1dd-7b99-4591-babc-a61bf8aa9d18     1
6b9d726b-d257-4e36-b61e-012045671e18     1
Name: id, Length: 690107, dtype: int64

In [96]:
# An example of a specific id that occurs multiple times
merged_df[merged_df['id'] == '29ce4d5f-07f9-4ce5-ada4-ae9ea49e92a6'].iloc[:,10:22]

,date_time_x,merged_date,temp,location,clouds,pressure,rain,time_stamp_y,humidity,wind,date_time_y
900564,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.54,North End,1.00,1014.19,NaN,1543212884,0.91,1.25,2018-11-26 06:14:44
900565,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.55,North End,1.00,1014.19,NaN,1543213005,0.91,1.28,2018-11-26 06:16:45
900566,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.61,North End,1.00,1014.18,NaN,1543213443,0.91,1.38,2018-11-26 06:24:03
900567,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.53,North End,1.00,1014.19,NaN,1543212732,0.91,1.22,2018-11-26 06:12:12
900568,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.55,North End,1.00,1014.19,NaN,1543212945,0.91,1.27,2018-11-26 06:15:45
900569,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.55,North End,1.00,1014.19,NaN,1543212914,0.91,1.26,2018-11-26 06:15:14
900570,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.53,North End,1.00,1014.19,NaN,1543212708,0.91,1.21,2018-11-26 06:11:48
900571,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,41.16,North End,0.98,1014.35,NaN,1543215030,0.92,1.83,2018-11-26 06:50:30
900572,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.64,North End,1.00,1014.18,NaN,1543213742,0.92,1.45,2018-11-26 06:29:02
900573,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.54,North End,1.00,1014.19,NaN,1543212855,0.91,1.25,2018-11-26 06:14:15
900574,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,41.16,North End,0.98,1014.35,NaN,1543214943,0.92,1.82,2018-11-26 06:49:03
900575,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.58,North End,1.00,1014.19,NaN,1543213144,0.91,1.31,2018-11-26 06:19:04
900576,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,41.16,North End,0.98,1014.35,NaN,1543214984,0.92,1.82,2018-11-26 06:49:44
900577,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.57,North End,1.00,1014.19,NaN,1543212974,0.91,1.27,2018-11-26 06:16:14
900578,2018-11-26 06:14:16.085999966,North End - 2018-11-26 - 6,40.83,North End,0.92,1014.00,NaN,1543214430,0.92,1.71,2018-11-26 06:40:30

In [97]:
# since the weather data for each id is very similar, we choose to make a mean of all the instances by id
id_group = pd.DataFrame(merged_df.groupby('id')['temp','clouds', 'pressure', 'rain', 'humidity', 'wind'].mean())
merged_uniqueid_df = rides_df.join(id_group, on = ['id'])

In [98]:
merged_uniqueid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 18 columns):
distance            693071 non-null float64
cab_type            693071 non-null object
time_stamp          693071 non-null int64
destination         693071 non-null object
source              693071 non-null object
price               637976 non-null float64
surge_multiplier    693071 non-null float64
id                  693071 non-null object
product_id          693071 non-null object
name                693071 non-null object
date_time           693071 non-null datetime64[ns]
merged_date         693071 non-null object
temp                690107 non-null float64
clouds              690107 non-null float64
pressure            690107 non-null float64
rain                118677 non-null float64
humidity            690107 non-null float64
wind                690107 non-null float64
dtypes: datetime64[ns](1), float64(9), int64(1), object(7)
memory usage: 95.2+ MB

In [99]:
merged_uniqueid_df['id'].value_counts()

55618c50-cc80-4d19-b9e9-e539b0487e1d    1
6d6197bd-3724-455c-86af-296a9962c670    1
d1f2108f-338b-4f6d-9216-1034ef5bd189    1
fd615731-0393-4d61-9a64-e15ba530e9cd    1
7f71d694-b1da-41d5-a0e7-a8f122205c66    1
                                       ..
a900e581-271b-4bc0-bcfc-4d16ea41c9c3    1
757dc217-a3db-46ae-aa4f-39f83fc3bcc7    1
f45c3e39-ea54-4dcd-af96-c8bc8abd1eb9    1
4c63eb11-e536-4198-a834-f0837bb607b6    1
6b9d726b-d257-4e36-b61e-012045671e18    1
Name: id, Length: 693071, dtype: int64

In [100]:
# to continue see https://www.kaggle.com/cempek/uber-vs-lyft-visualizations from step 11

In [101]:
# Renaming the df to just "df" since it is our final merged df
df = merged_uniqueid_df

### Cleaning the data

#### Null values

In [103]:
# Checking for null values
df.isnull().sum()

distance                 0
cab_type                 0
time_stamp               0
destination              0
source                   0
price                55095
surge_multiplier         0
id                       0
product_id               0
name                     0
date_time                0
merged_date              0
temp                  2964
clouds                2964
pressure              2964
rain                574394
humidity              2964
wind                  2964
dtype: int64

In [104]:
# We assume the null values for 'rain' mean that it did not rain, therefore we change these values to '0'
df['rain'].fillna(0,inplace=True)

In [105]:
# Dropping all instances where the price and some wheather conditions is null, assuming this is a mistake
df.dropna(inplace=True)

#### Attribute cleaning

In [106]:
"""
Removing attributes we do not need. This includes date_time since it is incorrect, but we will create a new
attribute of this later based on 'time_stamp'. It also involves 'id' since we can just use the index.
Also rearraging the attributes in an order that makes more sense.
"""
df = df[['cab_type', 'distance', 'time_stamp', 'source', 'destination', 'price', 'surge_multiplier',
         'name', 'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind']]

In [109]:
# Resetting the index since we have removed several rows
df.reset_index(drop=True, inplace=True)

### Adding attributes

In [110]:
# Adding a correct 'date' and 'time' based on 'time_stamp'
df["rounded_timestamp"] = df["time_stamp"] / 1000
df["rounded_timestamp"] = df["rounded_timestamp"].apply(np.floor)

df["date"] = df["rounded_timestamp"].apply(lambda x : datetime.fromtimestamp(x).date())
df["time"] = df["rounded_timestamp"].apply(lambda x: datetime.fromtimestamp(x).time())

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [111]:
# Creating new attributes for weekday, hour of the day and time of the day (if it is morning, afternoon, evening or night)
df['weekday'] = df['date'].apply(lambda x: x.weekday())
df["weekday"] = df["weekday"].map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})
df['hour'] = df['time'].apply(lambda time: time.hour)

df.loc[(df.hour >= 6) & (df.hour < 12) , 'time_of_day'] = 'Morning'
df.loc[(df.hour >= 12) & (df.hour < 15) , 'time_of_day'] = 'Afternoon'
df.loc[(df.hour >= 15) & (df.hour < 18) , 'time_of_day'] = 'Evening'
df.loc[(df.hour >= 18) | (df.hour < 6) , 'time_of_day'] = 'Night'

In [112]:
# Rearranging the new attributes and removing 'time_stamp' since we do not need it anymore
df = df[['cab_type', 'distance', 'source', 'destination', 'price', 'surge_multiplier', 'name',
         'date', 'time', 'weekday', 'hour', 'time_of_day',
         'temp', 'clouds', 'pressure', 'rain', 'humidity', 'wind']]

In [113]:
df.head()

,cab_type,distance,source,destination,price,surge_multiplier,name,date,time,weekday,hour,time_of_day,temp,clouds,pressure,rain,humidity,wind
0,Lyft,0.44,Haymarket Square,North Station,5.0,1.0,Shared,2018-12-16,10:30:07,Sunday,10,Morning,38.460,0.290000,1022.25,0.000,0.760000,7.68
1,Lyft,0.44,Haymarket Square,North Station,11.0,1.0,Lux,2018-11-27,03:00:23,Tuesday,3,Night,44.065,0.995000,1002.88,0.106,0.895000,12.63
2,Lyft,0.44,Haymarket Square,North Station,26.0,1.0,Lux Black XL,2018-11-30,05:53:02,Friday,5,Night,35.080,0.000000,1013.71,0.000,0.700000,5.25
3,Lyft,0.44,Haymarket Square,North Station,9.0,1.0,Lyft XL,2018-11-29,04:49:20,Thursday,4,Night,37.680,0.433333,998.42,0.000,0.706667,11.16
4,Lyft,0.44,Haymarket Square,North Station,16.5,1.0,Lux Black,2018-12-17,19:25:12,Monday,19,Night,40.780,0.930000,1000.15,0.000,0.790000,7.55

### Creating new dataframes

In [115]:
"""
Making two dataframes based on 'cab_type'. By this creating one for Uber and one for
Lyft in order to analyze them seperately and compare them.
"""
uber_df = df[df['cab_type'] =="Uber"]
lyft_df = df[df['cab_type'] =="Lyft"]

In [118]:
"""
Status:
We now have 3 dataframes: 'df', 'uber_df', 'lyft_df'. These are merged with the weather based
on the source location, the date and the hour of the date.

What to do or not to do:
Make visualization -> see Data prep_cab.
Clean 'surge_multiplier', i didn't do it since i was in doubt of why we removed it.
Maybe fix the headlines of the dataset.
Reconsider if we need the 'hour' attribute.
Consider if we can work with the datatypes or we should change these so they are workable (e.g. date and time).
Consider to normalize our attributes in order to make it more heterogenous.
Consider if we should use the code in the 6th field.
Make baseline, importances and start on the models.
"""

Lyft    306102
Name: cab_type, dtype: int64

In [ ]:
# df.to_csv(r'PreppedDataSet.csv', index=False)