In [68]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

#import seaborn as sns
from sklearn import preprocessing

In [69]:
df = pd.read_csv("PreppedDataSet.csv")

In [70]:
obj_df = df.select_dtypes(include=['object']).copy()
#obj_df.head()

In [71]:
"""
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
obj_df["source"] = ord_enc.fit_transform(obj_df[["source"]])
obj_df[["source"]].head()

for x in obj_df:
    obj_df[x] = ord_enc.fit_transform(obj_df[[x]])
"""

from sklearn import preprocessing

le = preprocessing.LabelEncoder()
for x in obj_df:
    obj_df[x] = le.fit_transform(obj_df[[x]])

In [72]:
obj_df.head()

   cab_type  source  destination  name  date  weekday  time_of_day
0         0       5            7     7    13        3            2
1         0       5            7     2     1        5            3
2         0       5            7     4     4        0            3
3         0       5            7     6     3        4            3
4         0       5            7     3    14        1            3