In [15]:
import numpy as np
import pandas as pd
from datetime import datetime

In [16]:
weather_df = pd.read_csv('weather.csv')
cab_weather_df = pd.read_csv('cab_rides.csv')

In [17]:
cab_weather_df.isnull().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [18]:
#Dropping instances where the price is null 
cab_weather_df.dropna(inplace=True)

cab_weather_df.isnull().sum()

distance            0
cab_type            0
time_stamp          0
destination         0
source              0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
dtype: int64

In [19]:
cab_weather_df.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name'],
      dtype='object')

In [20]:
cab_weather_df = cab_weather_df[['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'name']]

cab_weather_df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,Lyft XL

In [21]:
weather_df.columns = ['temp', 'source', 'clouds', 'pressure', 'rain', 'time_stamp', 'humidity', 'wind']

In [58]:
#we want to convert the timestamps into date, time, weekday, hour, and time of day (Morning, afternoon, evening, and night)
cab_weather_df["rounded_timestamp"] = cab_weather_df["time_stamp"] / 1000
cab_weather_df["rounded_timestamp"] = cab_weather_df["rounded_timestamp"].apply(np.floor)

cab_weather_df["date"] = cab_weather_df["rounded_timestamp"].apply(lambda x : datetime.fromtimestamp(x).date())
cab_weather_df["time"] = cab_weather_df["rounded_timestamp"].apply(lambda x: datetime.fromtimestamp(x).time())
cab_weather_df['weekday'] = cab_weather_df['date'].apply(lambda x: x.weekday())
cab_weather_df["weekday"] = cab_weather_df["weekday"].map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})
cab_weather_df['hour'] = cab_weather_df['time'].apply(lambda time: time.hour)

cab_weather_df.loc[(cab_weather_df.hour >= 6) & (cab_weather_df.hour < 12) , 'time_of_day'] = 'Morning'
cab_weather_df.loc[(cab_weather_df.hour >= 12) & (cab_weather_df.hour < 15) , 'time_of_day'] = 'Afternoon'
cab_weather_df.loc[(cab_weather_df.hour >= 15) & (cab_weather_df.hour < 18) , 'time_of_day'] = 'Evening'
cab_weather_df.loc[(cab_weather_df.hour >= 18) | (cab_weather_df.hour < 6) , 'time_of_day'] = 'Night'

cab_weather_df = cab_weather_df[['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'name', 'date', 'time', 'weekday', 'hour', 'time_of_day']]

In [59]:
#we want to convert the timestamps into date, time, weekday, hour, and time of day (Morning, afternoon, evening, and night)
#weather_df["rounded_timestamp"] = weather_df["time_stamp"] / 1000
#weather_df["rounded_timestamp"] = weather_df["rounded_timestamp"].apply(np.floor)

weather_df["date"] = weather_df["time_stamp"].apply(lambda x : datetime.fromtimestamp(x).date())
weather_df["time"] = weather_df["time_stamp"].apply(lambda x: datetime.fromtimestamp(x).time())
#weather_df['weekday'] = weather_df['date'].apply(lambda x: x.weekday())
#weather_df["weekday"] = weather_df["weekday"].map({0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'})
#weather_df['hour'] = weather_df['time'].apply(lambda time: time.hour)

#weather_df.loc[(weather_df.hour >= 6) & (weather_df.hour < 12) , 'time_of_day'] = 'Morning'
#weather_df.loc[(weather_df.hour >= 12) & (weather_df.hour < 15) , 'time_of_day'] = 'Afternoon'
#weather_df.loc[(weather_df.hour >= 15) & (weather_df.hour < 18) , 'time_of_day'] = 'Evening'
#weather_df.loc[(weather_df.hour >= 18) | (weather_df.hour < 6) , 'time_of_day'] = 'Night'

weather_df = weather_df[['temp', 'source', 'clouds', 'pressure', 'rain', 'time_stamp', 'humidity', 
                         'wind', 'date', 'time']]

In [60]:
merged_data = pd.merge(cab_weather_df, weather_df, on=["source", 'date'])

In [63]:
merged_data.head(30)

,distance,cab_type,time_stamp_x,destination,source,price,surge_multiplier,name,date,time_x,...,hour,time_of_day,temp,clouds,pressure,rain,time_stamp_y,humidity,wind,time_y
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,41.68,0.44,1023.68,NaN,1544924701,0.71,6.28,02:45:01
1,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.75,0.17,1023.04,NaN,1544921101,0.71,6.45,01:45:01
2,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,40.99,0.40,1024.49,NaN,1544928301,0.71,6.38,03:45:01
3,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,40.15,0.41,1023.50,NaN,1544939101,0.70,7.82,06:45:01
4,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,41.95,0.87,1021.58,NaN,1544971501,0.71,7.33,15:45:01
5,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,41.99,0.95,1013.20,0.004,1544996701,0.77,10.71,22:45:01
6,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,40.62,0.55,1024.65,NaN,1544931901,0.71,6.61,04:45:01
7,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.35,0.91,1018.92,0.008,1544978701,0.73,9.47,17:45:01
8,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,41.41,1.00,1022.15,NaN,1544967901,0.71,6.87,14:45:01
9,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.49,1.00,1013.99,0.003,1544993101,0.74,9.92,21:45:01
10,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,39.36,0.39,1022.44,NaN,1544949901,0.74,8.14,09:45:01
11,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.91,0.95,1015.02,NaN,1544989501,0.73,9.90,20:45:01
12,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.49,1.00,1017.42,NaN,1544982301,0.72,9.87,18:45:01
13,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,39.38,0.44,1022.81,NaN,1544946301,0.74,7.24,08:45:01
14,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,41.86,0.86,1020.17,NaN,1544975101,0.75,9.61,16:45:01
15,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,42.70,1.00,1016.15,0.004,1544985901,0.75,9.89,19:45:01
16,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,38.59,0.55,1022.04,NaN,1544957101,0.77,6.99,11:45:01
17,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,38.46,0.29,1022.25,NaN,1544953501,0.76,7.68,10:45:01
18,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,39.57,0.44,1023.97,NaN,1544935501,0.71,7.27,05:45:01
19,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared,2018-12-16,10:30:07,...,10,Morning,44.10,0.34,1022.05,NaN,1544917501,0.70,7.98,00:45:01

In [62]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24454238 entries, 0 to 24454237
Data columns (total 21 columns):
distance            float64
cab_type            object
time_stamp_x        int64
destination         object
source              object
price               float64
surge_multiplier    float64
name                object
date                object
time_x              object
weekday             object
hour                int64
time_of_day         object
temp                float64
clouds              float64
pressure            float64
rain                float64
time_stamp_y        int64
humidity            float64
wind                float64
time_y              object
dtypes: float64(9), int64(3), object(9)
memory usage: 4.0+ GB

In [33]:
merged_data.count()

temp                  6276
source              644252
clouds                6276
pressure              6276
rain                   894
time_stamp_x          6276
humidity              6276
wind                  6276
date                644252
time_x                6276
weekday_x             6276
hour_x                6276
time_of_day_x         6276
distance            637976
cab_type            637976
time_stamp_y        637976
destination         637976
price               637976
surge_multiplier    637976
name                637976
time_y              637976
weekday_y           637976
hour_y              637976
time_of_day_y       637976
dtype: int64

In [34]:
merged_data.isnull().sum()

temp                637976
source                   0
clouds              637976
pressure            637976
rain                643358
time_stamp_x        637976
humidity            637976
wind                637976
date                     0
time_x              637976
weekday_x           637976
hour_x              637976
time_of_day_x       637976
distance              6276
cab_type              6276
time_stamp_y          6276
destination           6276
price                 6276
surge_multiplier      6276
name                  6276
time_y                6276
weekday_y             6276
hour_y                6276
time_of_day_y         6276
dtype: int64

In [35]:
#merged_data.dropna(inplace=True)

merged_data.head()

,temp,source,clouds,pressure,rain,time_stamp_x,humidity,wind,date,time_x,...,cab_type,time_stamp_y,destination,price,surge_multiplier,name,time_y,weekday_y,hour_y,time_of_day_y
0,42.42,Back Bay,1.00,1012.14,0.1228,1.545004e+09,0.77,11.25,1970-01-18,22:10:03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,43.28,Back Bay,0.81,990.81,NaN,1.543348e+09,0.71,8.30,1970-01-18,21:42:27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,39.23,Back Bay,0.83,996.09,NaN,1.543450e+09,0.66,10.67,1970-01-18,21:44:09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27.27,Back Bay,0.15,1033.40,NaN,1.544788e+09,0.80,2.96,1970-01-18,22:06:27,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,45.49,Back Bay,1.00,1012.46,NaN,1.543254e+09,0.86,6.47,1970-01-18,21:40:53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
merged_data.head(5)

Empty DataFrame
Columns: [temp, source, clouds, pressure, rain, time_stamp_x, humidity, wind, date, time_x, weekday_x, hour_x, time_of_day_x, distance, cab_type, time_stamp_y, destination, price, surge_multiplier, name, time_y, weekday_y, hour_y, time_of_day_y]
Index: []

[0 rows x 24 columns]