In [99]:
import numpy as np
import pandas as pd

In [100]:
weather_df = pd.read_csv('weather.csv')
cab_weather_df = pd.read_csv('cab_rides.csv')

In [101]:
cab_weather_df.isnull().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [102]:
#Dropping instances where the price is null 
cab_weather_df.dropna(inplace=True)

cab_weather_df.isnull().sum()

distance            0
cab_type            0
time_stamp          0
destination         0
source              0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
dtype: int64

In [103]:
cab_weather_df.columns

Index(['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'id', 'product_id', 'name'],
      dtype='object')

In [104]:
cab_weather_df = cab_weather_df[['distance', 'cab_type', 'time_stamp', 'destination', 'source', 'price',
       'surge_multiplier', 'name']]

cab_weather_df.head()

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,Lyft XL

In [105]:
cab_weather_df["time_stamp"] = cab_weather_df["time_stamp"] / 1000
cab_weather_df["time_stamp"] = cab_weather_df["time_stamp"].apply(np.floor)

In [106]:
cab_weather_df["time_stamp"] = cab_weather_df["time_stamp"].astype(int)
weather_df.columns = ['temp', 'source', 'clouds', 'pressure', 'rain', 'time_stamp', 'humidity', 'wind']
weather_df.isnull().sum()

temp             0
source           0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [132]:
merged_data = pd.merge(weather_df, cab_weather_df, on=["source", "time_stamp"],
                       how="outer").fillna(method='ffill')

In [133]:
merged_data.count()

temp                643438
source              643438
clouds              643438
pressure            643438
rain                643438
time_stamp          643438
humidity            643438
wind                643438
distance            643413
cab_type            643413
destination         643413
price               643413
surge_multiplier    643413
name                643413
dtype: int64

In [134]:
merged_data.isnull().sum()

temp                 0
source               0
clouds               0
pressure             0
rain                 0
time_stamp           0
humidity             0
wind                 0
distance            25
cab_type            25
destination         25
price               25
surge_multiplier    25
name                25
dtype: int64

In [137]:
merged_data.dropna(inplace=True)

merged_data.head()

,temp,source,clouds,pressure,rain,time_stamp,humidity,wind,distance,cab_type,destination,price,surge_multiplier,name
25,39.23,Back Bay,0.83,996.09,0.0284,1543449727,0.66,10.67,1.33,Lyft,South Station,13.5,1.0,Lux
26,39.23,Back Bay,0.83,996.09,0.0284,1543449727,0.66,10.67,3.17,Uber,North End,33.0,1.0,Black SUV
27,39.23,Back Bay,0.83,996.09,0.0284,1543449727,0.66,10.67,3.17,Uber,North End,10.0,1.0,WAV
28,39.23,Back Bay,0.83,996.09,0.0284,1543449727,0.66,10.67,3.17,Uber,North End,10.0,1.0,UberX
29,39.23,Back Bay,0.83,996.09,0.0284,1543449727,0.66,10.67,3.17,Uber,North End,22.0,1.0,Black